html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

input:-webkit-autofill {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.amp {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

.photo {
  flex: 1;
  overflow: hidden;
}

.photo img {
  width: 100%;
  top: -100px;
  position: relative;
}

.content {
  flex: 1;
  overflow: scroll;
  scroll-behavior: smooth;
}

.logo {
  width: 25vw;
  margin: 0 0 5vh 0;
  opacity: 0.5;
}

.section {
  min-height: 90vh;
  padding: 5vh;
}

.intro {
  background-color: #8389fd;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.location {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 18px;
}

.date {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 5vh;
}

.nav {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 80px;
  justify-content: space-between;
  height: 5vh;
}

.story {
  background-color: #a38af0;
}

.details {
  background-color: #b789e7;
}

.travel {
  background-color: #dd85d5;
}

.rsvp {
  background-color: #f980c6;
}

.thanks {
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
}

.MuiFormLabel-root.rsvp-label,
.MuiFormLabel-root.Mui-focused.rsvp-label {
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1440px) {
  .App {
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  .photo {
    min-height: 50vh;
    height: 50vh;
  }

  .photo img {
    top: -350px;
  }

  .content {
    overflow: initial;
  }

  .intro,
  .intro-content {
    min-height: 40vh;
    height: 40vh;
  }

  .logo {
    width: 33vw;
  }
}

@media only screen and (max-width: 768px) {
  .photo {
    min-height: 40vh;
    height: 40vh;
  }

  .section {
    min-height: 94vh;
    padding: 3vh 1vh;
  }

  .intro,
  .intro-content {
    min-height: 45vh;
    height: 45vh;
    padding-bottom: 12vh;
  }

  .photo img {
    top: -100px;
  }

  .logo {
    width: 60vw;
  }

  .location {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .date {
    font-size: 16px;
  }

  .rsvp .MuiFormHelperText-root {
    font-size: 0.75rem;
  }
}
