.App {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.photo {
  flex: 1;
  overflow: hidden;
}

.photo img {
  width: 100%;
  top: -100px;
  position: relative;
}

.content {
  flex: 1;
  overflow: scroll;
}

.logo {
  width: 25vw;
  margin: 0 0 50px 0;
  opacity: .5;
}

.section {
  height: calc(100vh - 100px);
  padding: 50px 0;
}

.intro {
  background-color: #8389fd;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 120px);
}

.location {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 18px;
}

.date {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}

.nav {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 80px;
  justify-content: space-between;
}

.story {
  background-color: #a38af0;
}

.details {
  background-color: #b789e7;
}

.travel {
  background-color: #dd85d5;
}

.rsvp {
  background-color: #f980c6;
}

