.App {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.photo {
  flex: 1;
  overflow: hidden;
}

.photo img {
  width: 100%;
  top: -100px;
  position: relative;
}

.content {
  flex: 1;
  overflow: scroll;
}

.logo {
  width: 25vw;
  margin: 0 0 50px 0;
  opacity: 0.5;
}

.section {
  height: 90vh;
  padding: 5vh;
}

.intro {
  background-color: #8389fd;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.location {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 18px;
}

.date {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 20px;
}

.nav {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 80px;
  justify-content: space-between;
  height: 5vh;
}

.story {
  background-color: #a38af0;
}

.details {
  background-color: #b789e7;
}

.travel {
  background-color: #dd85d5;
}

.rsvp {
  background-color: #f980c6;
}

@media only screen and (max-width: 1440px) {
  .App {
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  .photo {
    min-height: 50vh;
    height: 50vh;
  }

  .photo img {
    top: -350px;
  }

  .content {
    overflow: initial;
  }

  .title,
  .intro {
    height: 40vh;
  }

  .logo {
    width: 33vw;
  }
}

@media only screen and (max-width: 768px) {
  .photo img {
    top: -100px;
  }

  .logo {
    width: 60vw;
    margin: 0 0 30px 0;
  }

  .location {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  .date {
    font-size: 16px;
  }
}
